<h1>Upgrade#index</h1>
<p>Find me in app/views/upgrade/index.html.erb</p>
<%= form_tag upgrade_upgrade_path do %> 
    <h4>Click the button!</h4>
        <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount=<%= @stripe_btn_data[:amount] %> data-description="<%= @stripe_btn_data[:description] %>" ></script>
 <% end %>