<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Blocipedia</h1>
    <p class="lead">Social, Markdown Wikis</p>
    <hr class="m-y-2">
    <p>Create and share Markdown Wikis. Get started today!</p>
    <p class="lead">
      <%= link_to "Sign Up", new_user_registration_path,  class: "btn btn-primary btn-lg" %>
    </p>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card card-block">
        <h3 class="card-title">Free Plan</h3>
        <p class="card-text">Here's what you can do with a free plan.</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card card-block">
        <h3 class="card-title">Premium Plan</h3>
        <p class="card-text">Here's why a premium plan is better.</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
</div>