#login-container {
    padding-left: 50px;
    width: 350px;
}

#profile-container {
    padding-left: 50px;
    width: 500px;
}

#center-list {
    padding-left: 50px;
    width: 500px;
}

 @import "bootstrap";
 @import "wikis";

